a:hover,
.column-name:hover,
.clickable:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.chart-titles {
  border-bottom: solid 3px lightgrey;
}

.column-name {
  color: green;
  font-weight: 500;
}
